@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Russo+One&display=swap');

:root {
  --mainColor:#eaeaea;
  --secondaryColor:#fff;
  --borderColor:#c1c1c1;
  --mainText:black;
  --secondaryText:#4b5156;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
}

p {
  color: var(--secondaryText);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: var(--borderColor);
  border-bottom:1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-items: center;
  min-height: 10em;
}


.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  box-shadow:  -1px 1px 3px -1px rgba(0,0,0,0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 30em;
  grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column right-column'
  ;
}

.nav-wrapper {
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #FC6058;
}

#dot-2 {
  background-color: #FEC02F;
}

#dot-3 {
  background-color: #2ACA3E;
}



.browser-dot {
  background: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  box-shadow:  -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.left-column {
  grid-area: left-column;
}

.right-column {
  grid-area: right-column;
}


@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}